:root{
    --primary: #dc3545;
    --light: #ffffff;
    --grey: #efefef;
}

#body{
    background-image: url(../img/shutterstock.jpg) !important;
    background-size: 100% 100%;
}

.bg-primaryBarSide{
    background-color: var(--primary);
}

   .btn-custom-primary{
    color: #fff;
    background-color: rgba(190, 15, 52, 1.0) !important;
    border-color: rgba(190, 15, 52, 1.0) !important;
   }
   .custom-link {
    color: rgba(255, 255, 255, 1.0) !important;
    text-decoration: none;
    background-color: transparent
}

.custom-link:hover {
    color: rgba(190, 15, 52, 1.0) !important;
    text-decoration: none;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: rgba(190, 15, 52, 1.0) !important;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;    
}

#sidebar-container{
    min-height: 100vh;   
}
#sidebar-container .logo{
    padding: .850rem 1.25rem;
}

#sidebar-container .menu{
    width: 19rem; 
    
}

#sidebar-container .menu a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    font-size: large;
}

#logo{
    height: 100px; 
}

#block{
    height: 100px;  
}

#block:hover{   
    background-color: #efefef;
    color: #dc3545 !important;
}

#content {
    overflow-y: auto;
    height: 100vh; 
    padding-bottom: 5rem;
}

#divDash{
    position: relative;
    border: 5px solid black;
    padding-left: 19rem;    
}