<div th:fragment="sideBar" id="sidebar-container" class="bg-primaryBarSide">
    <div class="menu">
        <div id="logo" class="d-flex justify-content-center align-items-center">
            <br>
            <a href="#"><br> <img th:src="@{/img/logo.png}"/></a>
        </div>
        <br>
        <div class="border-bottom">
            
        </div>

        <div id="block" class="d-flex border-bottom align-items-center justify-content-center"><a href="#" class="d-flex  p-3">Dashboard</a></div>
        <div id="block" class="d-flex border-bottom align-items-center justify-content-center"><a href="#" class="d-flex  p-3">Apis</a></div>
        <div id="block" class="d-flex border-bottom align-items-center justify-content-center"><a href="#" class="d-flex  p-3">Reportes</a></div>
    </div>
</div>